<form id="inscription-particulier">
    <div class="input-connec">
        <input type="text" placeholder="Nom " name="nom" id="nom" class="input">
    </div>
    <div class="input-connec">
        <input type="text" placeholder="Prenom" name="prenom" id="prenom" class="input">
    </div>
    <div class="input-connec">
        <input type="email" placeholder="Email" name="email" id="email" class="input">
    </div>
    <div class="input-connec">
        <input type="password" placeholder="Mot de passe" name="motDePasse" id="motDePasse" class="input">
    </div>
    <input type="submit" value="S'inscrire" class="submit submit-particulier"/>
</form>