<div class="form-connexion">
    <span class="close form-close close-connect"  aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </span>
    <div class="entete-form">
        <h4>Connectez-vous à votre compte</h4>
        <h6>pour echanger entre professionel</h6>
    </div>
    <form id="form-connexion">
        <div class="input-connec connect-error hidden">
            <span class="error-form">
                <span class="icon-error-form"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                <span class="texte-error-form">Email ou mot de passe incorrecte.</i></span>
            </span>
        </div>
        <div class="input-connec">
            <input type="email" placeholder="Email" name="email" id="email" class="input">
        </div>
        <div class="input-connec">
            <input type="password" placeholder="Mot de passe" name="motDePasse" id="motDePasse" class="input">
        </div>
        <input type="submit" value="Se connecter" class="submit submit-connexion"/>
    </form>
    <div class="footer-form">
        <span class="right"><a href="#">Mot de passe oublié?</a></span>
        <span class="left">Etes vou membre? <a href="#">Inscrivez-vous</a></span>
    </div>
</div>