<form id="inscription-entreprise">
    <div class="input-connec">
        <input type="text" placeholder="Raison social" name="raisonSocial" id="raisonSocial" class="input">
    </div>
    <div class="input-connec">
        <input type="email" placeholder="Email" name="email" id="email" class="input">
    </div>
    <div class="input-connec">
        <input type="password" placeholder="Mot de passe" name="motDePasse" id="motDePasse" class="input">
    </div>
    <input type="submit" value="S'inscrire" class="submit submit-entreprise"/>
</form>