$couleur-entete1: #9d378d;
$couleur-entete: #672494;
$couleur-bouton: #337ab7;
$couleur-danger: #d9534f;
$couleur-entete-haut:#082246;
$vert:rgb(0,128,64);
$jaune:rgb(170,170,0);
$rouge:rgb(128,0,0);
$couleur-formation: #ff8200;
$couleur-experience:#21E5D3;
$couleur-competence:#38C8FF;
$couleur-langue:#C847CF;
$couleur-loisir:#F63B9E;
$couleur-loisee:#F63B;
$couleur-vert:#35b88f;
